 input {
   beats {
     port => 5044
   }
 }

filter {
  grok {
    match => { "message" => '%{IPORHOST:http_host} %{USER:ident} %{USER:auth} \[%{HTTPDATE:timestamp}\] "%{WORD:http_method} %{URIPATHPARAM:request} HTTP/%{NUMBER:http_version}" %{NUMBER:http_status} %{NUMBER:bytes_sent} %{QS:referrer} %{QS:user_agent}' }
  }
  date {
    match => [ "timestamp", "dd/MMsM/yyyy:HH:mm:ss Z" ]
    target => "@timestamp"
  }
}

output {
  if [tags][0] == "k8s" and [tags][1] == "data" {
    if [tags][2] == "filebeat" and [tags][3] == "access" {
      file {
        path => "/var/log/%{[tags][0]}/%{[tags][1]}-%{[tags][2]}-%{[tags][3]}.log"
        codec => line { format => "%{message}"}
      }
    }
  }
  elasticsearch {
    hosts => ["http://es:9200"]
    index => "nginx"
  }
  stdout {
    codec => rubydebug
  }
}
