input {
  beats {
    port => 5044
  }
}

filter {
  if [fileset][name] == "access" {
    grok {
      match => { "message" => '%{IPORHOST:http_host} %{USER:ident} %{USER:auth} \[%{HTTPDATE:timestamp}\] "%{WORD:http_method} %{URIPATHPARAM:request} HTTP/%{NUMBER:http_version}" %{NUMBER:http_status} %{NUMBER:bytes_sent} %{QS:referrer} %{QS:user_agent}' }
    }
    date {
      match => [ "timestamp", "dd/MMM/yyyy:HH:mm:ss Z" ]
      target => "@timestamp"
    }
  }
}

output {
  elasticsearch {
    hosts => ["http://elasticsearch:9200"]
    index => "nginx"
  }
  stdout {
    codec => rubydebug
  }
}
